
h1 {
    color: black;
    text-align: center;
    display: block;
    padding: 8px;
    background-color: #ffc944;
    border-style: solid;
    border-width: 5px;
    border-color: #000;
    box-shadow: 1px 1px 8px black;
}

p {
    font-family: verdana;
    font-size: 20px;
}

a {
    font-family: verdana;
}

.box {
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    max-width: 1280px;
    margin-top: 100px;
    padding: 0 20px 20px;
    background-color: #ffd87acc;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    min-width: 1000%;
    background-color: orange;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    position: fixed;
}

nav ul {
    list-style-type: none;
    margin: 0;
    /* padding: 0;*/
    overflow: hidden;
    /* position: fixed;*/

}

nav li {
    float: left;
    margin: 6px;
}

/*NAVDROP*/
.navdrop {
    position: fixed;
    display: inline-block;
    right: 0;
    float: right;
    padding: 7px;
}

.navdropbtn {
    background-color: orange;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.navdrop-cont {
    display: none;
    position: absolute;
    background-color: orange;
    color: black;
    min-width: 200px;
    border-style: solid;
    border-color: #000;
    z-index: 95;
}

.navdrop-cont a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 16px;
}

.navdrop-cont a:hover {
    background-color: darkorange;
}

.navdrop:hover .navdrop-cont {
    display: block;
}

.navdrop:hover .navdropbtn {
    background-color: darkorange;
}

nav a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

nav a:hover {
    background-color: darkorange;
}

nav .active {
    background-color: darkorange;
    box-shadow: 1px 1px 8px black;
    border-style: solid;
    border-width: 3px;
    border-color: #ff6300;

}


body{
    background-color: #a7ffee;
    background-image:url("../IMG/Image9.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-cover:*/
    /*background-position: center;*/
    /*margin-left: 75px;
    max-width: 1000px;
    margin-bottom: 75px;*/

}

p.kuvateksti {
    font-size:50%;
}

.kuvat {
    width: 500px;
    width: 50%;
}

.maisema {
    width: 100%;
    /*max-width: 600px;*/
}

.thumbnail {
    width: 20%;
}

.thumbnail:hover {
    box-shadow: 0 0 15px white;
    transition-duration: 0.2s;
}


p {color: black;}

.laatikko {
    width: 100%;
    height: 100px;
    background-color: #b4ff8b;}

.tausta {
    background-color: rgba(240,0,50,0.1);
    padding: 10px;
    border: 3px dashed red;
}

.seethrough{
    opacity: 0.9;
}

li {
    font-size: 25px;
}
#left {
    float: left;
}
#weather {
    text-align: center;
    float: right;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.5);
    width: 500px;
    height: 100%;
}
.tablerow {
    width: 85%;
    overflow: hidden;
}
